<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/detail.css"/>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../js/detail.js"></script>
</head>
<body>
    <div class="container">
        <h1>Full Script</h1>
        <a class="btn btn-danger" href="/view/crawler.html">Back</a>

        <div id="content">请稍后...</div>
    </div>
</body>
</html>